/* Layout
   ========================================================================== */
.container {
  max-width: $container-width;
  margin: 0 auto;

  @media screen and ( max-width: em($container-width + ($container-gutter * 2)) ) {
  	margin: 0 em($container-gutter);
	}
}

.container:before,
.container:after {
  display: table;
  content: " ";
}

.container:after {
  clear: both;
}

.row:before,
.row:after {
  display: table;
  content: " ";
}
.row:after {
  clear: both;
}

@if $gutter-enable {
  .row {
		margin-left: -$gutter;
		margin-right: -$gutter;
  }
}


/* Columns Sizes
   ========================================================================== */
[class^="col-"] {
  float: left;

	@if $gutter-enable {
		padding-left: $gutter;
		padding-right: $gutter;
	}
}

// desktop
@for $i from 1 through $grid-columns {
  .col-#{$i} {
    width: ($i/$grid-columns) * 100%;
  }
}

// tablet
@include tablet {
  @for $i from 1 through $grid-columns {
    .col-md-#{$i} {
      width: ($i/$grid-columns) * 100%;
    }
  }
}

// mobile
@include mobile {
  @for $i from 1 through $grid-columns {
    .col-sm-#{$i} {
      width: ($i/$grid-columns) * 100%;
    }
  }
}


/* Row Sizes
   ========================================================================== */
/**
 * Add row-n to row div to make pseudo-rows
 * Only for 12 cols of 1, 6 cols of 2, 4 cols of 3, 3 cols of 4, 2 cols of 6
 */

// desktop
@for $i from 2 through $grid-columns {
	@if $grid-columns % $i == 0 {
		$j: $grid-columns / $i;
		.row-#{$i} .col-#{$j}:nth-child(#{$i}n+1){
			clear: left;
		}
	}
}

// tablet
@include tablet {
	@for $i from 2 through $grid-columns {
		@if $grid-columns % $i == 0 {
			$j: $grid-columns / $i;
			.row-md-#{$i} .col-md-#{$j}:nth-child(#{$i}n+1){
				clear: left;
			}
		}
	}
}

// mobile
@include mobile {
	@for $i from 2 through $grid-columns {
		@if $grid-columns % $i == 0 {
			$j: $grid-columns / $i;
			.row-sm-#{$i} .col-sm-#{$j}:nth-child(#{$i}n+1){
				clear: left;
			}
		}
	}
}
